body{
    background-color: #1F1C3F;
    text-align: center;
     display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.container{
    border: 2px solid;
   background-color:  #3C3D50;
   width: 600px;
  
   padding: 20px;

}
